<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webappday28</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ReadAttributesServlet</display-name>
    <servlet-name>ReadAttributesServlet</servlet-name>
    <servlet-class>webappday28.ReadAttributesServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>webappday28.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>this is used for counting</description>
    <display-name>CounterCookieServlet</display-name>
    <servlet-name>CounterCookieServlet1</servlet-name>
    <servlet-class>ai.jobiak.state.CounterCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CounterCookieServlet1</servlet-name>
    <url-pattern>/countercookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAttributeServlet</display-name>
    <servlet-name>CreateAttributeServlet</servlet-name>
    <servlet-class>ai.jobiak.India.CreateAttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAttributeServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EvenNumberServlet</display-name>
    <servlet-name>EvenNumberServlet</servlet-name>
    <servlet-class>ai.jobiak.India.EvenNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvenNumberServlet</servlet-name>
    <url-pattern>/even</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FibonacciServlet</display-name>
    <servlet-name>FibonacciServlet</servlet-name>
    <servlet-class>ai.jobiak.India.FibonacciServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FibonacciServlet</servlet-name>
    <url-pattern>/fibonacci</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArmstrongServlet</display-name>
    <servlet-name>ArmstrongServlet</servlet-name>
    <servlet-class>ai.jobiak.India.ArmstrongServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArmstrongServlet</servlet-name>
    <url-pattern>/armstrong</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrimeNumberServlet</display-name>
    <servlet-name>PrimeNumberServlet</servlet-name>
    <servlet-class>ai.jobiak.India.PrimeNumberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrimeNumberServlet</servlet-name>
    <url-pattern>/prime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SeriesServlet</display-name>
    <servlet-name>SeriesServlet</servlet-name>
    <servlet-class>ai.jobiak.India.SeriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeriesServlet</servlet-name>
    <url-pattern>/series</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PalindromeServlet</display-name>
    <servlet-name>PalindromeServlet</servlet-name>
    <servlet-class>ai.jobiak.India.PalindromeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PalindromeServlet</servlet-name>
    <url-pattern>/palindrome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>ai.jobiak.India.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MultiplicationServlet</display-name>
    <servlet-name>MultiplicationServlet</servlet-name>
    <servlet-class>ai.jobiak.India.MultiplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MultiplicationServlet</servlet-name>
    <url-pattern>/multiplication</url-pattern>
  </servlet-mapping>
</web-app>